.storybook-restart-icon--black {
  fill: #000;
}
.storybook-restart-icon--white {
  fill: #fff;
}
.storybook-restart-icon--small {
  width: 14px;
  height: 14px;
}
.storybook-restart-icon--medium {
  width: 20px;
  height: 20px;
}
