.storybook-resume-icon--black {
  fill: #000;
}
.storybook-resume-icon--white {
  fill: #fff;
}
.storybook-resume-icon--small {
  width: 14px;
  height: 14px;
}
.storybook-resume-icon--medium {
  width: 20px;
  height: 20px;
}
